body {
  background-color: darkgreen;
} 

.TheCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
border-radius: 20px;
}

.card {
  width: 32%;
  flex: 1 1 30%;
margin: 20px;
padding: 20px ;
}

img {
width: 100%;
object-fit: cover;
}
